.git
.github
.venv
.vscode
.claude
.mxdev_cache
.pytest_cache
.ruff_cache
__pycache__
**/__pycache__
instance
sources
var
nginx
varnish
docker-compose.yml
Dockerfile
constraints*.txt
requirements*.txt
.env
.env.example
shipper
varnishncsa
matomo-fake
